<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Shottershondhane-admin_home</title>
    <!-- website seo meta tag -->
    <meta name="description" content="Shotter Shondhane  programmer is an Islamic knowledge competition program. It is held every ramadan. Learn about us by visiting our website.">
    <!-- author -->
    <meta name="author" content="Abdul Mustofa Rahim Al-Azhari">
    <!-- website keywords -->
    <meta name="keywords" content="shottershondhane,shottershondhanefoundation,php,phpshottershondhane,realityshow,Islamicrealityshow,ramadamshow,Islamic,Blog">
</head>
<body>
    <div class="admin">
        <div class="sidebar"id="sidebar">
            <div class="sidebox">
           <div class="sidelogo">
            <h1>Admin Panel</h1>
           </div>
           <ul>
            <li><a href="/dashboard"><i class='bx bxs-bus'></i>Bus</a></li>
            <li><a href="/bookingusers"><i class='bx bxl-blogger'></i>Booking-Users</a></li>
            <li><a href="/dashboard/logout"><i class='bx bx-log-in-circle' ></i>SinOut</a></li>
           </ul>
            </div>
        </div>
        <!-- page -->

<div class="page"id="page">
   <div class="textbus">
    <h1>Booking Users</h1>
   </div>
   <div class="mainbus">
    <div class="tablebox">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Seat</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Paid</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
                <%data.forEach(g=>{%>
                    <tr>
                        <td><%=g.name%></td>
                      <td><%=g.from%></td>
                      <td><%=g.to%></td>
                      <td><%=g.seat%></td>
                      <td><%=g.email%></td>
                      <td><%=g.number%></td>
                      <td><%=g.paid_status%></td>
                      <td><a href="/bookinguser/<%=g._id%>">Delete</a></td>
                    </tr>
                    <%})%>
                  </tbody>
          </table>
    </div>
   </div>
</div>

             <!-- page -->  
    </div>

</body>
</html>