<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Booked</title>
</head>
<body>
    <div class="book-box">
       <div class="book-text">
        <h1>Your Information</h1>
        <hr color="black">
       </div>
       <div class="book-info">
          <ul>
            <li>Name:<%=sessioninfo.name%></li>
            <li>Email:<%=sessioninfo.email%></li>
            <li>From:<%=data.from%></li>
            <li>To:<%=data.to%></li>
            <li><%=data.bus%></li>
            <li><%=data.start%></li>
            <li><%=data.price%> TK</li>
          </ul>
          <div class="btn-box">
            <button><a href="/pament/<%=data._id%>">Pay</a></button>
          <button onclick="window.print()">Print</button>
          </div>
       </div>
    </div>
</body>
</html>